Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/app-ci-image.yml, .pipelines/app-ci.yml, .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-batchscoring-ci.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

.pipelines/app-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mlops
  steps:
  - template: app-package-model-template.yml
    parameters:
      modelId: $(MODEL_NAME):$(MODEL_VERSION)
      scoringScriptPath: $(Build.SourcesDirectory)/$(SOURCES_DIR_TRAIN)/$(SCORE_SCRIPT)
  ...

.pipelines/app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      container: mlops
      timeoutInMinutes: 0
      steps:
      - template: code-quality-template.yml
      - task: AzureCLI@1
        inputs:
  ...

.pipelines/azdo-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

.pipelines/azdo-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mcr.microsoft.com/mlops/python:latest
  name: $(Date:yyyyMMdd)$(Rev:r)
  steps:
  - bash: "# Invoke the Python building and publishing a training pipeline with Python on ML Compute\npython3 $(Build.SourcesDirectory)/ml_service/util/create_scoring_image.py   \n"
  ...

.pipelines/diabetes_regression-batchscoring-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Batch_Scoring_Pipeline_CI
    displayName: Batch Scoring Pipeline CI
    jobs:
    - job: Build_Batch_Scoring_Pipeline
      displayName: Build Batch Scoring Pipeline
      container: mlops
      timeoutInMinutes: 0
      steps:
  ...

.pipelines/diabetes_regression-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

.pipelines/diabetes_regression-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mlops
  steps:
  - task: AzureCLI@1
    inputs:
      azureSubscription: $(WORKSPACE_SVC_CONNECTION)
      scriptLocation: inlineScript
      workingDirectory: $(Build.SourcesDirectory)
      inlineScript: 'set -e
  
  ...

.pipelines/diabetes_regression-ci-yml-pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Continuous_Integration
    displayName: Continuous Integration
    condition: not(variables['MODEL_BUILD_ID'])
    variables:
      BUILD_URI: $(SYSTEM.COLLECTIONURI)$(SYSTEM.TEAMPROJECT)/_build/results?buildId=$(BUILD.BUILDID)
    jobs:
    - job: Preparation
  ...

Added AKS compute name details (#355)
  docs/getting_started.md
Due: none

Pin AzureML SDK > 1.18.0 for pyyaml fix (#356)
  diabetes_regression/conda_dependencies_scorecopy.yml
  diabetes_regression/conda_dependencies_scoring.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update manage_environment.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

Update attach_compute.py
  ml_service/util/attach_compute.py
Due: .pipelines/azdo-ci-build-train.yml

Update ci_dependencies.yml
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update diabetes_regression-cd.yml
  .pipelines/diabetes_regression-cd.yml
Due: .pipelines/azdo-ci-build-train.yml

Update diabetes_regression-package-model-template.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Update diabetes_regression-publish-model-artifact-template.yml
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Update conda_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update conda_dependencies_scorecopy.yml
  diabetes_regression/conda_dependencies_scorecopy.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update conda_dependencies_scoring.yml
  diabetes_regression/conda_dependencies_scoring.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Pin azureml version to 1.27.* (#361)
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-package-model-template.yml
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
  diabetes_regression/conda_dependencies_scorecopy.yml
  diabetes_regression/conda_dependencies_scoring.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Correct incorrect python command
  docs/development_setup.md
Due: none

Update diabetes_regression-ci.yml
  .pipelines/diabetes_regression-ci.yml
Due: .pipelines/azdo-ci-build-train.yml

update documentation
  docs/code_description.md
Due: none

fix evaluate issue
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

linting
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Updated YAML file for Unauthorized header
  diabetes_regression/scoring/deployment_config_aks.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Revision of getting started guide up to Batch scoring. Also new diagam and fix to ARM template to remove region restrictions.
  docs/getting_started.md
  docs/images/aci-in-azure-portal.png
  environment_setup/arm-templates/cloud-environment.json
Due: none

update documentation (#379)
  docs/code_description.md
Due: none

Revision of getting started guide up to Batch scoring. Also new diagam and fix to ARM template to remove region restrictions. (#387)
  docs/getting_started.md
  docs/images/aci-in-azure-portal.png
  environment_setup/arm-templates/cloud-environment.json
Due: none

Change AKS deployment configuration
  diabetes_regression/scoring/deployment_config_aks.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update custom_model.md
  docs/custom_model.md
Due: none

Detail on Batch scoring for Getting Started and additional debug message in the copy to ease of diagnosing issues
  diabetes_regression/scoring/parallel_batchscore_copyoutput.py
  docs/getting_started.md
  docs/images/batch-child-run-scoringstep.png
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Tweaked text and added a NOQA for message
  diabetes_regression/scoring/parallel_batchscore_copyoutput.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

JP aks deployment fix (#388)
  diabetes_regression/scoring/deployment_config_aks.yml
  docs/custom_model.md
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Fix evaluate issue (#381)
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Improve readability of exceptions in build pipeline script (#357)
  ml_service/util/attach_compute.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

Add details on the Batch scoring session of Getting Started (#389)
  diabetes_regression/scoring/parallel_batchscore_copyoutput.py
  docs/getting_started.md
  docs/images/batch-child-run-scoringstep.png
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Clarified/Fixed getting started instructions for WebApp/AppService deployment
  docs/getting_started.md
  docs/images/ADO-CD-pipeline-to-webapp.png
  docs/images/appservice-webapp-deploymentcenter.png
  docs/images/container-registry-webapp-image.png
Due: none

Clarified/Fixed getting started instructions for WebApp/AppService deployment (#390)
  docs/getting_started.md
  docs/images/ADO-CD-pipeline-to-webapp.png
  docs/images/appservice-webapp-deploymentcenter.png
  docs/images/container-registry-webapp-image.png
Due: none

Update train.py
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Set up CI with Azure Pipelines
  .pipelines/diabetes_regression-ci.yml
Due: .pipelines/azdo-ci-build-train.yml

changes to env file
  .env.example
Due: .pipelines/azdo-ci-build-train.yml

changes to env file
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

changes to env file
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

changes to env file
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

changes to env file
  .pipelines/diabetes_regression-ci.yml
Due: .pipelines/azdo-ci-build-train.yml

Path conditions:
  .pipelines/app-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, app/scoring, but not: app/scoring/deployment_config_aci.yml, app/scoring/deployment_config_aks.yml
  .pipelines/app-ci.yml: any of: app, ml_service/pipelines/app_build_train_pipeline.py, ml_service/pipelines/app_build_train_pipeline_with_r.py, ml_service/pipelines/app_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-batchscoring-ci.yml: any of: diabetes_regression/scoring/parallel_batchscore.py, ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py, ml_service/pipelines/run_parallel_batchscore_pipeline.py
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-yml-pipeline.yml: any of: diabetes_regression
  .pipelines/diabetes_regression-ci.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
