Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/app-ci-image.yml, .pipelines/app-ci.yml, .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-batchscoring-ci.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Path conditions:
  .pipelines/app-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, app/scoring, but not: app/scoring/deployment_config_aci.yml, app/scoring/deployment_config_aks.yml
  .pipelines/app-ci.yml: any of: app, ml_service/pipelines/app_build_train_pipeline.py, ml_service/pipelines/app_build_train_pipeline_with_r.py, ml_service/pipelines/app_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-batchscoring-ci.yml: any of: diabetes_regression/scoring/parallel_batchscore.py, ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py, ml_service/pipelines/run_parallel_batchscore_pipeline.py
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-yml-pipeline.yml: any of: diabetes_regression
  .pipelines/diabetes_regression-ci.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py

customecontainer
  docs/custom_container.md
Due: none

customemodel
  docs/custom_model.md
Due: none

cicd ommit
  README.md
Due: .pipelines/azdo-ci-build-train.yml

notebooks
  experimentation/Diabetes Ridge Regression Experimentation Pipeline.ipynb
  experimentation/Diabetes Ridge Regression Parameter Experimentation.ipynb
  experimentation/Diabetes Ridge Regression Scoring.ipynb
  experimentation/Diabetes Ridge Regression Training.ipynb
Due: .pipelines/azdo-ci-build-train.yml

pip freeze
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

pip freeze after install
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

test
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

update azureml sdk
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

update azureml sdk (#326)
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

save dockerfile
  ml_service/util/create_scoring_image.py
Due: .pipelines/app-ci-image.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

define generate_dockerfile as env variable
  ml_service/util/create_scoring_image.py
Due: .pipelines/app-ci-image.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

fix syntax error
  ml_service/util/create_scoring_image.py
Due: .pipelines/app-ci-image.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

generate DockerFile as having saved image folder.
  ml_service/util/create_scoring_image.py
Due: .pipelines/app-ci-image.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

add jenkinsfile to dockerize models
  ml_service/pipelines/dockerized-mlmodel.Jenkinsfile
Due: .pipelines/azdo-ci-build-train.yml

rename Jenkinsfile
  ml_service/pipelines/build-model-container-image.Jenkinsfile
Due: .pipelines/azdo-ci-build-train.yml

Update ci_dependencies.yml
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update conda_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update azureml-sdk to use latest (#331)
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

docs
  data/README.md
  docs/custom_model.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

more fixes
  docs/custom_model.md
  docs/getting_started.md
Due: none

Fix Batch Scoring docs (#333)
  data/README.md
  docs/custom_model.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

Update getting_started.md
  docs/getting_started.md
Due: none

Update custom_model.md
  docs/custom_model.md
Due: none

Update docs (#339)
  docs/custom_model.md
  docs/getting_started.md
Due: none

fix TRAIN_SCRIPT_PATH value in .env.example
  .env.example
Due: .pipelines/azdo-ci-build-train.yml

development_setup.md update
  docs/development_setup.md
Due: none

Content of install_requirements.sh deleted
  docs/development_setup.md
Due: none

build_train_pipeline.py filename fixed
  docs/development_setup.md
Due: none

test
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

development_setup.md update (#349)
  docs/development_setup.md
Due: none

fix TRAIN_SCRIPT_PATH value in .env.example (#348)
  .env.example
Due: .pipelines/azdo-ci-build-train.yml

Added AKS compute name details
  docs/getting_started.md
Due: none

Update conda_dependencies_scoring.yml
  diabetes_regression/conda_dependencies_scoring.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update conda_dependencies_scorecopy.yml
  diabetes_regression/conda_dependencies_scorecopy.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml
