Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/app-ci-image.yml, .pipelines/app-ci.yml, .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-batchscoring-ci.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Path conditions:
  .pipelines/app-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, app/scoring, but not: app/scoring/deployment_config_aci.yml, app/scoring/deployment_config_aks.yml
  .pipelines/app-ci.yml: any of: app, ml_service/pipelines/app_build_train_pipeline.py, ml_service/pipelines/app_build_train_pipeline_with_r.py, ml_service/pipelines/app_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-batchscoring-ci.yml: any of: diabetes_regression/scoring/parallel_batchscore.py, ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py, ml_service/pipelines/run_parallel_batchscore_pipeline.py
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-yml-pipeline.yml: any of: diabetes_regression
  .pipelines/diabetes_regression-ci.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py

changes to env file
  .env.example
Due: .pipelines/azdo-ci-build-train.yml

changes to env file
  .pipelines/code-quality-template.yml
Due: .pipelines/azdo-ci-build-train.yml

changes to env file
  diabetes_regression/training/test_train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

changes to env file
  diabetes_regression/parameters.json
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

changes to env file
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
Due: .pipelines/azdo-ci-build-train.yml

changes to env file
  .pipelines/diabetes_regression-ci.yml
Due: .pipelines/azdo-ci-build-train.yml

Updated Link for Canary Deployment Document as was incorrect
  docs/code_description.md
Due: none

deploy to ACI changes
  .pipelines/diabetes_regression-cd.yml
  diabetes_regression/scoring/deployment_config_aci.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

deploy to ACI changes
  .pipelines/diabetes_regression-cd.yml
Due: .pipelines/azdo-ci-build-train.yml

deploy to ACI changes
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

deploy to ACI changes
  bootstrap/README.md
Due: .pipelines/azdo-ci-build-train.yml

Allow generation of HTML Code Coverage reports
  .pipelines/code-quality-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Update the Readme to point to the new MLOps V2
  README.md
Due: .pipelines/azdo-ci-build-train.yml

changed number of nodes for compute cluster
  .env.example
Due: .pipelines/azdo-ci-build-train.yml

changed training parameter
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update diabetes_regression-ci.yml
  .pipelines/diabetes_regression-ci.yml
Due: .pipelines/azdo-ci-build-train.yml

Update README.md
  README.md
Due: .pipelines/azdo-ci-build-train.yml

changed alpha to 0.5
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

chaged alpha to 0.6
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

changed max number of nodes for compute cluster to 1
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

changed azurr_cli_ml extension from 1.27.0 to 1.41.0
  .pipelines/diabetes_regression-cd.yml
Due: .pipelines/azdo-ci-build-train.yml

Changed Readme
  README.md
Due: .pipelines/azdo-ci-build-train.yml

Changed Alpha to 0.5
  diabetes_regression/parameters.json
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update Diabetes Ridge Regression Training.ipynb
  experimentation/Diabetes Ridge Regression Training.ipynb
Due: .pipelines/azdo-ci-build-train.yml
