Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/app-ci-image.yml, .pipelines/app-ci.yml, .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-batchscoring-ci.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Path conditions:
  .pipelines/app-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, app/scoring, but not: app/scoring/deployment_config_aci.yml, app/scoring/deployment_config_aks.yml
  .pipelines/app-ci.yml: any of: app, ml_service/pipelines/app_build_train_pipeline.py, ml_service/pipelines/app_build_train_pipeline_with_r.py, ml_service/pipelines/app_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-batchscoring-ci.yml: any of: diabetes_regression/scoring/parallel_batchscore.py, ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py, ml_service/pipelines/run_parallel_batchscore_pipeline.py
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-yml-pipeline.yml: any of: diabetes_regression
  .pipelines/diabetes_regression-ci.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py

Fixes YAML indentation
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Changes log_metric to log
  diabetes_regression/training/train_aml.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Adds more scripts to use Observability and get app_insight_connectoin_
  diabetes_regression/util/model_helper.py
  utils/logger/azure_ml_logger.py
  utils/logger/logger_interface.py
  utils/logger/observability.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Remove AML_REBUILD_ENVIRONMENT flag
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Adds diabetes_regression to scoring path
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Adds dataclasses
  diabetes_regression/conda_dependencies_scoring.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Adds dataclasses to conda_dependencies_scorecopy.yml
  diabetes_regression/conda_dependencies_scorecopy.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Adds python-dotenv and opencensus to conda_dependencies_scorecopy.yml
  diabetes_regression/conda_dependencies_scorecopy.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Update docs and pipeline status badge (#303)
  README.md
  bootstrap/bootstrap.py
  data/README.md
  docs/code_description.md
  docs/custom_container.md
  docs/getting_started.md
  docs/images/custom-container-variables.png
  environment_setup/iac-create-environment-pipeline-tf.yml
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Remove dangling reference to myResourceGroup
  environment_setup/arm-templates/aci-password.json
Due: none

Create webapp from arm template automatically
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-package-model-template.yml
  docs/getting_started.md
  environment_setup/arm-templates/aci-password.json
  environment_setup/arm-templates/webapp-env.json
Due: .pipelines/azdo-ci-build-train.yml

Use az cli to fetch ACI username/password
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-ci.yml
  environment_setup/arm-templates/aci-password.json
  environment_setup/arm-templates/webapp-env.json
Due: .pipelines/azdo-ci-build-train.yml

Add ACR_NAME variable
  .pipelines/diabetes_regression-cd.yml
Due: .pipelines/azdo-ci-build-train.yml

Remove location restriction in webapp arm
  environment_setup/arm-templates/webapp-env.json
Due: none

Parameterize SKU in webapp arm
  environment_setup/arm-templates/webapp-env.json
Due: none

Cleanup comment in webapp arm
  environment_setup/arm-templates/webapp-env.json
Due: none

Cleanup variables in webapp arm
  environment_setup/arm-templates/webapp-env.json
Due: none

Modify CI deps and container tag for OpenHack
  diabetes_regression/ci_dependencies.yml
  environment_setup/docker-image-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

use ic in model package with script option
  .pipelines/abtest.yml
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-package-model-template.yml
  ml_service/util/create_scoring_image.py
  ml_service/util/create_scoring_image.sh
Due: .pipelines/app-ci-image.yml, .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

add colon
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

fix naming
  .pipelines/abtest.yml
  .pipelines/diabetes_regression-cd.yml
Due: .pipelines/azdo-ci-build-train.yml

fix conditional
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

parameter naming
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

fix working dir
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

fix default params in build batch score
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-batchscoring-ci.yml

fix naming and inference config
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

docs
  docs/getting_started.md
Due: none

fix image
  docs/images/model-deploy-artifact-logs.PNG
  docs/images/model-deploy-get-artifact-logs.png
Due: none

fix images
  docs/getting_started.md
Due: none

update to azure ml studio pics
  docs/images/trained-model.png
  docs/images/training-pipeline.png
Due: none

Fix default parameters to batch scoring pipeline + doc fixes (#310)
  docs/getting_started.md
  docs/images/model-deploy-artifact-logs.PNG
  docs/images/model-deploy-get-artifact-logs.png
  docs/images/trained-model.png
  docs/images/training-pipeline.png
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-batchscoring-ci.yml

Update getting_started.md
  docs/getting_started.md
Due: none

Update getting_started.md (#317)
  docs/getting_started.md
Due: none

fix abtest
  .pipelines/abtest.yml
Due: .pipelines/azdo-ci-build-train.yml

fix line end
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

top readme
  README.md
Due: .pipelines/azdo-ci-build-train.yml

getstarted
  docs/getting_started.md
Due: none

コード内容について
  docs/code_description.md
Due: none

dev setup
  docs/development_setup.md
Due: none

canary
  docs/canary_ab_deployment.md
Due: none
