Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml

Acrolinx fixes
  docs/getting_started.md
Due: none

Remove fixed word wrapped lines
  docs/getting_started.md
Due: none

Replace some outdated guide images. Fixes #210
  docs/images/ci-build-pipeline-configure.png
  docs/images/ml-ws-svc-connection.png
  docs/images/run-iac-pipeline.png
  docs/images/select-iac-pipeline.png
Due: none

Be verbose about evaluation failing and how to test the scoring service
  docs/getting_started.md
Due: none

comment fix
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Linting
  diabetes_regression/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Respond to offline feedback, fix additional Acrolinx issues
  docs/getting_started.md
Due: none

split train.py into train.py and train_aml.py
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/training/test_train.py
  diabetes_regression/training/train.py
  diabetes_regression/training/train_aml.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Dataset versioning (#218)
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/register/register_model.py
  diabetes_regression/training/train.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Additional feedback fixes, formatting, wording, and var description tweaks
  docs/getting_started.md
Due: none

split train_model into two functions
  diabetes_regression/training/test_train.py
  diabetes_regression/training/train.py
  diabetes_regression/training/train_aml.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

make unit tests more self contained
  diabetes_regression/training/test_train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Getting started refactor (#216)
  bootstrap/README.md
  docs/getting_started.md
  docs/images/ci-build-pipeline-configure.png
  docs/images/create-rm-service-connection.png
  docs/images/ml-ws-svc-connection.png
  docs/images/run-iac-pipeline.png
  docs/images/select-iac-pipeline.png
Due: .pipelines/azdo-ci-build-train.yml

Minor README fixes - Whitespace fixes - Grammar fixes - Ported some wording from Getting Started
  README.md
Due: .pipelines/azdo-ci-build-train.yml

Added Experiment and Pipeline notebooks
  experimentation/exp.ipynb
  experimentation/pipeline.ipynb
Due: .pipelines/azdo-ci-build-train.yml

Getting Started fixes for the Variable Group section
  docs/getting_started.md
Due: none

Remove architecture diagram from README
  README.md
  docs/images/main-flow.png
Due: .pipelines/azdo-ci-build-train.yml

Getting Started fixes for the Variable Group section (#221)
  docs/getting_started.md
Due: none

rename and clean up experimentation notebooks
  experimentation/Diabetes Ridge Regression Experimentation Pipeline.ipynb
  experimentation/Diabetes Ridge Regression Parameter Experimentation.ipynb
  experimentation/exp.ipynb
  experimentation/pipeline.ipynb
Due: .pipelines/azdo-ci-build-train.yml

Proposal: split train.py into train.py and train_aml.py (#219)
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/training/test_train.py
  diabetes_regression/training/train.py
  diabetes_regression/training/train_aml.py
  experimentation/Diabetes Ridge Regression Experimentation Pipeline.ipynb
  experimentation/Diabetes Ridge Regression Parameter Experimentation.ipynb
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fix import
  diabetes_regression/training/train_aml.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fix import (#222)
  diabetes_regression/training/train_aml.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

README refactor (#220)
  README.md
  docs/images/main-flow.png
Due: .pipelines/azdo-ci-build-train.yml

rename config.json to parameters.json
  diabetes_regression/parameters.json
  diabetes_regression/training/train_aml.py
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

rename config.json to parameters.json (#223)
  diabetes_regression/parameters.json
  diabetes_regression/training/train_aml.py
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Add vars template to canary pipeline
  .pipelines/abtest.yml
Due: .pipelines/azdo-ci-build-train.yml

Enable ACR authentication on AKS using a service principal - Upgrade helm version to 3.1.1 - Remove ACR secret from the abtest-model deployment
  .pipelines/abtest.yml
  charts/abtest-model/templates/deployment.yaml
Due: .pipelines/azdo-ci-build-train.yml

Canary pipeline fixes (#224)
  .pipelines/abtest.yml
  charts/abtest-model/templates/deployment.yaml
Due: .pipelines/azdo-ci-build-train.yml

Improve Canary guide and add prerequisites
  docs/canary_ab_deployment.md
Due: none

added a flag
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Improve Canary guide and add prerequisites (#225)
  docs/canary_ab_deployment.md
Due: none

flag examples + tiny docs
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

Added helpful get_latest_model method
  diabetes_regression/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

make the linter check happy
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

added abtest.yml to bootstrapping
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

linting fixes
  diabetes_regression/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

added abtest.yml to bootstrapping (#233)
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

Unified code for optional tags for get_latest_model
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/util/model_helper.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update model_helper.py
  diabetes_regression/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Added get_latest_model method (#231)
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/util/model_helper.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml
