Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-yml-pipeline.yml: any of: diabetes_regression
  .pipelines/diabetes_regression-ci.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py

use env var
  .pipelines/abtest.yml
Due: .pipelines/azdo-ci-build-train.yml

Addressed PR comments
  .env.example
  .pipelines/diabetes_regression-batchscoring-ci.yml
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/conda_dependencies_scorecopy.yml
  diabetes_regression/conda_dependencies_scoring.yml
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/util/attach_compute.py
  ml_service/util/env_variables.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Addressed PR comments
  .env.example
  data/diabetes_scoring_input.csv
  diabetes_regression/scoring/parallel_batchscore_copyoutput.py
  docs/getting_started.md
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/load_sample_data.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Doc fix
  docs/getting_started.md
Due: none

remove unused template
  .pipelines/diabetes_regression-get-model-id-template.yml
Due: .pipelines/azdo-ci-build-train.yml

try verbose
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

check image location writ to file
  .pipelines/diabetes_regression-cd-deploy.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

check iamge location file contents
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

account for verbose
  .pipelines/diabetes_regression-cd-deploy.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

print output
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

remove unused pipeline
  .pipelines/diabetes_regression-train-register.yml
Due: .pipelines/azdo-ci-build-train.yml

add more docs and add to bootstrap
  bootstrap/bootstrap.py
  docs/images/model-deploy-artifact-logs.PNG
  docs/split_cicd_pipelines.md
Due: .pipelines/azdo-ci-build-train.yml

linting
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

test using file
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

rename file
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

fix model package to show logs
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

fail on deploy error'
  .pipelines/diabetes_regression-cd-deploy.yml
Due: .pipelines/azdo-ci-build-train.yml

test package fail
  .pipelines/diabetes_regression-cd-deploy.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

test failed conda dep
  .pipelines/diabetes_regression-cd-deploy.yml
  .pipelines/diabetes_regression-package-model-template.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

fixed failure handling
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Squashed commit of the following:
  .pipelines/diabetes_regression-cd-deploy.yml
Due: .pipelines/azdo-ci-build-train.yml

Simplify flow
  bootstrap/README.md
  docs/custom_model.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

minor tweaks
  bootstrap/README.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

link to bootstrap section of doc
  bootstrap/README.md
Due: .pipelines/azdo-ci-build-train.yml

clarify bootstrap wording
  docs/custom_model.md
Due: none

Move instruction to install AML extension to Azure Devops setup instructions
  docs/getting_started.md
Due: none

address feedback
  docs/custom_model.md
Due: none

Move instruction to install AML extension to Azure Devops setup instructions (#298)
  docs/getting_started.md
Due: none

Simplify docs flow (#297)
  bootstrap/README.md
  docs/custom_model.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

update arm template to make workspace sku configurable
  docs/getting_started.md
  environment_setup/arm-templates/cloud-environment.json
  environment_setup/iac-create-environment-pipeline-arm.yml
Due: none

remove old pipeline
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-ci-train-register.yml
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-get-model-version-template.yml
  docs/getting_started.md
  docs/split_cicd_pipelines.md
Due: .pipelines/azdo-ci-build-train.yml

fix bootstrap
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

Squashed commit of the following:
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-ci-train-register.yml
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-get-model-version-template.yml
  bootstrap/README.md
  bootstrap/bootstrap.py
  docs/custom_model.md
  docs/getting_started.md
  docs/split_cicd_pipelines.md
Due: .pipelines/azdo-ci-build-train.yml

remove need for model build id
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

set sku as variable in yaml
  .pipelines/diabetes_regression-variables-template.yml
  docs/getting_started.md
  environment_setup/iac-create-environment-pipeline-arm.yml
Due: .pipelines/azdo-ci-build-train.yml

update arm template to make workspace sku configurable (#283)
  .pipelines/diabetes_regression-variables-template.yml
  docs/getting_started.md
  environment_setup/arm-templates/cloud-environment.json
  environment_setup/iac-create-environment-pipeline-arm.yml
Due: .pipelines/azdo-ci-build-train.yml

Jitghosh/parallelbatchscore (#289)
  .env.example
  .pipelines/diabetes_regression-batchscoring-ci.yml
  .pipelines/diabetes_regression-variables-template.yml
  bootstrap/bootstrap.py
  diabetes_regression/conda_dependencies_scorecopy.yml
  diabetes_regression/conda_dependencies_scoring.yml
  diabetes_regression/scoring/parallel_batchscore.py
  diabetes_regression/scoring/parallel_batchscore_copyoutput.py
  docs/getting_started.md
  docs/images/batchscoring-ci-result.png
  docs/images/batchscoring-pipeline.png
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/pipelines/load_sample_data.py
  ml_service/pipelines/run_parallel_batchscore_pipeline.py
  ml_service/util/attach_compute.py
  ml_service/util/env_variables.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

fix batch scoring
  .pipelines/diabetes_regression-batchscoring-ci.yml
Due: .pipelines/azdo-ci-build-train.yml

use model version for batch scoring
  .pipelines/diabetes_regression-batchscoring-ci.yml
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/scoring/parallel_batchscore.py
  diabetes_regression/util/model_helper.py
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
  ml_service/pipelines/run_parallel_batchscore_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml
