Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py

added directory structure doc
  README.md
  bootstrap/bootstrap.py
  directorystructure.md
Due: .pipelines/azdo-ci-build-train.yml

updated doc
  bootstrap/README.md
  directorystructure.md
Due: .pipelines/azdo-ci-build-train.yml

fixed linting
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

fixed linting
  directorystructure.md
Due: .pipelines/azdo-ci-build-train.yml

Clarifying comments
  docs/canary_ab_deployment.md
Due: none

Clarifying comments (#187)
  docs/canary_ab_deployment.md
Due: none

pr comments
  bootstrap/README.md
  bootstrap/bootstrap.py
  diabetes_regression/ci_dependencies.yml
  directorystructure.md
  docs/code_description.md
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

formating
  bootstrap/README.md
Due: .pipelines/azdo-ci-build-train.yml

fomratting
  bootstrap/README.md
Due: .pipelines/azdo-ci-build-train.yml

PR
  bootstrap/README.md
  bootstrap/bootstrap.py
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

removed git clone
  bootstrap/README.md
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

removed gitpython
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

commented gitpython import
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

pr
  README.md
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

updated doc
  bootstrap/README.md
  docs/code_description.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

added dirs
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

replaced dir
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

updated path
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

fixed imports
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

updated script
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

linting fix
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

pr
  bootstrap/bootstrap.py
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

corrected URL
  docs/getting_started.md
Due: none

Add Bootstrap code (#186)
  README.md
  bootstrap/README.md
  bootstrap/bootstrap.py
  docs/code_description.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

move replaceprojectname outside class
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

change tag to diabetes_regression
  diabetes_regression/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

tag to diabetes_regression
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

lint fixes
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

add register_model
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

enhance readme
  bootstrap/README.md
Due: .pipelines/azdo-ci-build-train.yml

bootstrap diabetes cleanup (#189)
  bootstrap/README.md
  bootstrap/bootstrap.py
  diabetes_regression/register/register_model.py
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml

bootstrap
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

bootstrap (#190)
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

removed exception printing
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

Modified to use dataset and pipelinedata
  diabetes_regression/register/register_model.py
  diabetes_regression/training/train.py
  docs/getting_started.md
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

re usable env
  .env.example
  .pipelines/diabetes_regression-variables.yml
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/util/env_variables.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

linting
  diabetes_regression/evaluate/evaluate_model.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fixed import
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

removed env var
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml
