Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py

linting
  diabetes_regression/evaluate/evaluate_model.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

changed path for local testing
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

typo
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

return offline Run back for verify train because it was designed not for development as it was commented. out pipelines need it
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Typo (#161)
  docs/canary_ab_deployment.md
Due: none

Adding nonessential code for MLOpsPython BYOC Azure doc
  experimentation/Diabetes Ridge Regression Training.ipynb
Due: .pipelines/azdo-ci-build-train.yml

Adding nonessential code for MLOpsPython BYOC Azure doc (#163)
  experimentation/Diabetes Ridge Regression Training.ipynb
Due: .pipelines/azdo-ci-build-train.yml

.amlignore example of usage (#155)
  diabetes_regression/.amlignore
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Remove sys.path from everywhere to enable IntelliSense (#162)
  .pipelines/azdo-abtest-pipeline.yml
  .pipelines/azdo-base-pipeline.yml
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-template-get-model-version.yml
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/util/__init__.py
  docs/code_description.md
  ml_service/pipelines/__init__.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/__init__.py
  ml_service/util/attach_compute.py
  ml_service/util/create_scoring_image.py
  ml_service/util/smoke_test_scoring_service.py
  tests/unit/__init__.py
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml

pkl wxtension should not be a requirement
  diabetes_regression/scoring/score.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

script to manage aml env
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

updated scripts
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Do not use conda-merge
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/scoring/inference_config.yml
  diabetes_regression/scoring_dependencies.yml
  diabetes_regression/training/training_dependencies.yml
  diabetes_regression/training_dependencies.yml
  environment_setup/Dockerfile
  environment_setup/ci_environment.yml
  environment_setup/install_requirements.sh
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Do not use tox virtualenv
  .pipelines/azdo-base-pipeline.yml
  lint-and-test.sh
  tox.ini
Due: .pipelines/azdo-ci-build-train.yml

PR review fixes
  .gitignore
  diabetes_regression/training_dependencies.yml
  environment_setup/install_requirements.sh
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update diabetes_regression_build_train_pipeline_with_r.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update Dockerfile
  environment_setup/Dockerfile
Due: none

Tox + code coverage (#150)
  .gitignore
  .pipelines/azdo-base-pipeline.yml
  .pipelines/azdo-pr-build-train.yml
  .pipelines/diabetes_regression-ci-build-train.yml
  README.md
  diabetes_regression/scoring/score.py
  diabetes_regression/training/R/train_with_r_on_databricks.py
  docs/development_setup.md
  docs/getting_started.md
  environment_setup/install_requirements.sh
  environment_setup/requirements.txt
  lint-and-test.sh
  ml_service/util/smoke_test_scoring_service.py
  tests/unit/code_test.py
  tests/unit/data_test.py
  tox.ini
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update diabetes_regression_build_train_pipeline_with_r.py (#167)
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

.
  .pipelines/diabetes_regression-ci-build-train.yml
  diabetes_regression/scoring/deployment_config_aci.yml
  diabetes_regression/scoring/deployment_config_aks.yml
  diabetes_regression/scoring_dependencies.yml
  ml_service/pipelines/deploy_web_service.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update deploy_web_service.py
  ml_service/pipelines/deploy_web_service.py
Due: .pipelines/azdo-ci-build-train.yml

use split to get model name
  diabetes_regression/scoring/score.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update diabetes_regression/scoring/score.py
  diabetes_regression/scoring/score.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

linting
  diabetes_regression/scoring/score.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

PR review fixes
  diabetes_regression/scoring/inference_config.yml
  docs/code_description.md
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

PR review fixes
  docs/getting_started.md
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

PR review fixes
  docs/code_description.md
  docs/getting_started.md
Due: none

Update training_dependencies.yml
  diabetes_regression/training_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

remove alpha from pipeline parameters
  .pipelines/diabetes_regression-ci-build-train.yml
  diabetes_regression/training/train.json
  diabetes_regression/training/train.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

linting
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update code_test.py
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml

Manage environments in conda YAML files (#158)
  .gitignore
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/scoring/inference_config.yml
  diabetes_regression/scoring_dependencies.yml
  diabetes_regression/training_dependencies.yml
  docs/code_description.md
  docs/getting_started.md
  environment_setup/Dockerfile
  environment_setup/install_requirements.sh
  environment_setup/requirements.txt
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Linting fixes
  ml_service/pipelines/deploy_web_service.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Fixed merge
  diabetes_regression/scoring_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

No pkl extension requirement for model name (#164)
  diabetes_regression/scoring/score.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

update config
  diabetes_regression/config.json
  diabetes_regression/training/train.json
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

move get_model_parameters to helper
  diabetes_regression/config.json
  diabetes_regression/training/train.py
  diabetes_regression/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml
