Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml

.pipelines/azdo-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

.pipelines/azdo-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mcr.microsoft.com/mlops/python:latest
  name: $(Date:yyyyMMdd)$(Rev:r)
  steps:
  - bash: "# Invoke the Python building and publishing a training pipeline with Python on ML Compute\npython3 $(Build.SourcesDirectory)/ml_service/util/create_scoring_image.py   \n"
  ...

.pipelines/diabetes_regression-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

from conda file
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

renamed file for test
  diabetes_regression/azureml_environment.jsonn
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

updated env name
  .env.example
  .pipelines/diabetes_regression-variables.yml
Due: .pipelines/azdo-ci-build-train.yml

updated path
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

updated doc
  bootstrap/bootstrap.py
  docs/code_description.md
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

remove env json
  diabetes_regression/azureml_environment.jsonn
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Create diabetes dataset if no dataset specified
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/register/register_model.py
  diabetes_regression/training/train.py
  docs/getting_started.md
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Reverted null build_id check
  diabetes_regression/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Added MSE tag
  diabetes_regression/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Reverted logic for NULL Build ID
  diabetes_regression/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Force new model if previous onehas no metric tag
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Removed unused DATA variables
  .env.example
Due: .pipelines/azdo-ci-build-train.yml

Removed unused DATA vars
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

Updated workaround for non-metric-tagged models
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

tidied up code
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Modified to use dataset and pipelinedata (#193)
  .env.example
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/register/register_model.py
  diabetes_regression/training/train.py
  docs/getting_started.md
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Docker Image explanation
  docs/getting_started.md
Due: none

Multistage pipeline structure explanation is wrong
  docs/getting_started.md
Due: none

State explicitly the flow order
  docs/getting_started.md
Due: none

Clarify the R approach (training only)
  docs/getting_started.md
Due: none

Link to Bryan's article
  docs/getting_started.md
Due: none

connections clarification
  docs/getting_started.md
  environment_setup/iac-create-environment.yml
  environment_setup/iac-remove-environment.yml
Due: none

folders expanation
  docs/code_description.md
Due: none

broken links
  bootstrap/README.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

ml ws connection screenshot
  docs/getting_started.md
  docs/images/ml-ws-svc-connection.png
Due: none

typos
  bootstrap/README.md
  docs/code_description.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

fix model input features
  diabetes_regression/scoring/score.py
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

comments
  bootstrap/README.md
  docs/code_description.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

comments
  docs/code_description.md
Due: none

run unit tests in any case
  .pipelines/azdo-base-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

run unit tests in any case (#199)
  .pipelines/azdo-base-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

Getting started refactoring (#197)
  bootstrap/README.md
  docs/code_description.md
  docs/getting_started.md
  docs/images/ml-ws-svc-connection.png
  environment_setup/iac-create-environment.yml
  environment_setup/iac-remove-environment.yml
Due: .pipelines/azdo-ci-build-train.yml

fix model input features (#198)
  diabetes_regression/scoring/score.py
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Add basic descriptions to YAML pipelines
  .pipelines/azdo-abtest-pipeline.yml
  .pipelines/azdo-base-pipeline.yml
  .pipelines/azdo-helm-install.yml
  .pipelines/azdo-helm-upgrade.yml
  .pipelines/azdo-pr-build-train.yml
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-template-get-model-version.yml
  .pipelines/diabetes_regression-variables.yml
  environment_setup/docker-image-pipeline.yml
  environment_setup/iac-create-environment.yml
  environment_setup/iac-remove-environment.yml
Due: .pipelines/azdo-ci-build-train.yml

Clarify that web app must exist for the deploy to work
  docs/getting_started.md
Due: none

Use correct parameter names in web app deploy
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Updated comments to address review feedback
  .pipelines/azdo-base-pipeline.yml
  .pipelines/azdo-pr-build-train.yml
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Add missing feedback fix
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Add basic descriptions to YAML pipelines (#200)
  .pipelines/azdo-abtest-pipeline.yml
  .pipelines/azdo-base-pipeline.yml
  .pipelines/azdo-helm-install.yml
  .pipelines/azdo-helm-upgrade.yml
  .pipelines/azdo-pr-build-train.yml
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-template-get-model-version.yml
  .pipelines/diabetes_regression-variables.yml
  environment_setup/docker-image-pipeline.yml
  environment_setup/iac-create-environment.yml
  environment_setup/iac-remove-environment.yml
Due: .pipelines/azdo-ci-build-train.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
