Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py

conda activation
  lint-and-test.sh
Due: .pipelines/azdo-ci-build-train.yml

actiavte conda
  environment_setup/Dockerfile
Due: none

activate conda
  environment_setup/Dockerfile
Due: none

removed conda activattion
  lint-and-test.sh
Due: .pipelines/azdo-ci-build-train.yml

updated test
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml

activate conda in script
  lint-and-test.sh
Due: .pipelines/azdo-ci-build-train.yml

added entry point for docker
  environment_setup/Dockerfile
Due: none

removed activation from script
  lint-and-test.sh
Due: .pipelines/azdo-ci-build-train.yml

added entry point
  environment_setup/Dockerfile
Due: none

updated docker file
  environment_setup/Dockerfile
Due: none

updated conda path
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

path to scoring script
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

relative path
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

removed ms.
  docs/getting_started.md
Due: none

path
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

copy file
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

fixed deploy ACI
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

exception for linting
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

Sudivate/fixdeployaci (#178)
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
  environment_setup/Dockerfile
  ml_service/util/create_scoring_image.py
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml

Fixed links and typos (#175)
  README.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

dataprep package
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

datprep package
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

permissions
  environment_setup/Dockerfile
Due: none

azureml-dataprep package (#182)
  diabetes_regression/conda_dependencies.yml
  environment_setup/Dockerfile
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

bootstrap
  bootstrap/bootstrap.py
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

redmi file
  bootstrap/README.md
Due: .pipelines/azdo-ci-build-train.yml

intial doc
  bootstrap/README.md
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

update doc
  bootstrap/README.md
Due: .pipelines/azdo-ci-build-train.yml

Resolved PR comments
  .pipelines/azdo-base-pipeline.yml
  diabetes_regression/ci_dependencies.yml
  docs/development_setup.md
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

directory structure
  README copy.md
  directorystructure.md
Due: .pipelines/azdo-ci-build-train.yml

Removed test/unit directory
  tests/unit/__init__.py
Due: .pipelines/azdo-ci-build-train.yml

Added newline
  diabetes_regression/training/test_train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Fixed linter errors
  diabetes_regression/training/test_train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fixed unit test path
  .pipelines/azdo-base-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

Fixed and rearranged unit tests (#184)
  .pipelines/azdo-base-pipeline.yml
  data/data_test.py
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/training/test_train.py
  docs/development_setup.md
  lint-and-test.sh
  tests/unit/__init__.py
  tox.ini
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml
