Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-yml-pipeline.yml: any of: diabetes_regression
  .pipelines/diabetes_regression-ci.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py

linting
  diabetes_regression/scoring/parallel_batchscore.py
  diabetes_regression/util/model_helper.py
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

fix batch scoring
  .pipelines/diabetes_regression-batchscoring-ci.yml
  diabetes_regression/scoring/parallel_batchscore.py
  diabetes_regression/util/model_helper.py
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

more fixes
  .pipelines/diabetes_regression-batchscoring-ci.yml
  .pipelines/diabetes_regression-get-model-id-artifact-template.yml
  diabetes_regression/scoring/parallel_batchscore.py
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

fix import
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

mark as output
  .pipelines/diabetes_regression-get-model-id-artifact-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Squashed commit of the following:
  .pipelines/diabetes_regression-batchscoring-ci.yml
  .pipelines/diabetes_regression-get-model-id-artifact-template.yml
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/scoring/parallel_batchscore.py
  diabetes_regression/util/model_helper.py
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

improve the docs
  docs/getting_started.md
Due: none

fix secret access
  .pipelines/diabetes_regression-batchscoring-ci.yml
Due: .pipelines/azdo-ci-build-train.yml

pass to cli task and impove naming
  .pipelines/diabetes_regression-batchscoring-ci.yml
Due: .pipelines/azdo-ci-build-train.yml

Convert to new split pipeline approach for CI/CD (#278)
  .pipelines/diabetes_regression-batchscoring-ci.yml
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-get-model-id-artifact-template.yml
  .pipelines/diabetes_regression-get-model-version-template.yml
  .pipelines/diabetes_regression-package-model-template.yml
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
  .pipelines/diabetes_regression-variables-template.yml
  bootstrap/bootstrap.py
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/scoring/parallel_batchscore.py
  diabetes_regression/util/model_helper.py
  docs/getting_started.md
  docs/images/model-deploy-artifact-logs.PNG
  docs/images/model-deploy-configure.png
  docs/images/model-deploy-result.png
  docs/images/model-train-register-artifacts.png
  docs/images/model-train-register.png
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
  ml_service/pipelines/run_parallel_batchscore_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

docs
  data/README.md
  docs/code_description.md
  docs/custom_container.md
  docs/getting_started.md
  docs/images/custom-container-variables.png
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Fixed issue with Bootstrapa.py throwing errors with encoding in open function
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

removed encoding from open function as this causes an error
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

fix pipeline status badge and tf naming uniqueness
  README.md
  bootstrap/bootstrap.py
  environment_setup/iac-create-environment-pipeline-tf.yml
Due: .pipelines/azdo-ci-build-train.yml

add a note about how to change the name of the pipeline
  docs/getting_started.md
Due: none

Adds Observability Modules
  .env.example
  .gitignore
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
  diabetes_regression/conda_dependencies_scoring.yml
  utils/__init__.py
  utils/images/Metrics.png
  utils/images/logs-aml.png
  utils/images/logs-appinsights.png
  utils/images/metrics-appinsights.png
  utils/logger/__init__.py
  utils/logger/app_insights_logger.py
  utils/logger/azure_ml_logger.py
  utils/logger/logger_interface.py
  utils/logger/observability.py
  utils/observability-usage.md
  utils/tests/__init__.py
  utils/tests/test_app_insights_logger.py
  utils/tests/test_azure_ml_logger.py
  utils/tests/test_observability.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Fixes YML file
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Fixes flake8 errors
  utils/logger/app_insights_logger.py
  utils/logger/azure_ml_logger.py
  utils/logger/logger_interface.py
  utils/logger/observability.py
  utils/tests/test_app_insights_logger.py
  utils/tests/test_observability.py
Due: .pipelines/azdo-ci-build-train.yml

removes python-dotenv==0.10.3 dependency
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

extra clarification on workspace connection
  docs/getting_started.md
Due: none

Workaround for evaluation bug when model does not exist
  diabetes_regression/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Restore call convention compatibility in get_model
  diabetes_regression/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Chages the AML_REBUILD_ENVIRONMENT to false
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

Fixes the AML image snapshot path
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/register/register_model.py
  diabetes_regression/scoring/parallel_batchscore.py
  diabetes_regression/training/train_aml.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
  ml_service/util/create_scoring_image.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Satisfies Flake8
  diabetes_regression/training/train_aml.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Integrates Observability onto Pipeline and one script
  .pipelines/diabetes_regression-batchscoring-ci.yml
  .pipelines/diabetes_regression-cd.yml
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-get-model-id-artifact-template.yml
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Chamnges factory to register_loggers
  utils/logger/observability.py
Due: .pipelines/azdo-ci-build-train.yml

Adds app_insights_connection_string to Env class
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Integrates observability with ml_service
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
  ml_service/pipelines/run_parallel_batchscore_pipeline.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/attach_compute.py
  ml_service/util/create_scoring_image.py
  ml_service/util/manage_environment.py
  ml_service/util/smoke_test_scoring_service.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Satisfies Flake8
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/pipelines/diabetes_regression_verify_train_pipeline.py
  ml_service/pipelines/run_parallel_batchscore_pipeline.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/attach_compute.py
  ml_service/util/create_scoring_image.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Fix CD deployment break
  .pipelines/diabetes_regression-cd.yml
Due: .pipelines/azdo-ci-build-train.yml

Integrates diabetes_regression scripts with observability
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/register/register_model.py
  diabetes_regression/scoring/parallel_batchscore.py
  diabetes_regression/scoring/parallel_batchscore_copyoutput.py
  diabetes_regression/scoring/score.py
  diabetes_regression/training/train.py
  diabetes_regression/training/train_aml.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Changes Observability to add AppInsightsLoggers to list of loggers only if the env variable is set
  utils/logger/observability.py
Due: .pipelines/azdo-ci-build-train.yml

Adds APP_INSIGHTS_CONNECTION_STRING to logger_interface
  utils/logger/logger_interface.py
  utils/logger/observability.py
Due: .pipelines/azdo-ci-build-train.yml

Restore call convention compatibility in get_model (#304)
  diabetes_regression/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml

Fix CD deployment break (#305)
  .pipelines/diabetes_regression-cd.yml
Due: .pipelines/azdo-ci-build-train.yml

Removes the dependency to Env object
  utils/logger/app_insights_logger.py
Due: .pipelines/azdo-ci-build-train.yml

Satisfies Flake8
  utils/logger/app_insights_logger.py
Due: .pipelines/azdo-ci-build-train.yml

Adds dataclasses to conda_dependencies.yml
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/conda_dependencies.yml
  utils/logger/app_insights_logger.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml, .pipelines/diabetes_regression-ci.yml, .pipelines/diabetes_regression-train.yml
