Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml

.pipelines/azdo-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

.pipelines/azdo-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mcr.microsoft.com/mlops/python:latest
  name: $(Date:yyyyMMdd)$(Rev:r)
  steps:
  - bash: "# Invoke the Python building and publishing a training pipeline with Python on ML Compute\npython3 $(Build.SourcesDirectory)/ml_service/util/create_scoring_image.py   \n"
  ...

.pipelines/diabetes_regression-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

.pipelines/diabetes_regression-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mlops
  steps:
  - task: AzureCLI@1
    inputs:
      azureSubscription: $(WORKSPACE_SVC_CONNECTION)
      scriptLocation: inlineScript
      workingDirectory: $(Build.SourcesDirectory)
      inlineScript: 'set -e
  
  ...

boolean types
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Add an env var flag to recreate AMLS Environment (#230)
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

latest sdk
  .pipelines/diabetes_regression-ci.yml
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

check latest
  .pipelines/diabetes_regression-ci.yml
Due: .pipelines/azdo-ci-build-train.yml

latest sdk
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

latest sdk
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

latest sdk
  .pipelines/diabetes_regression-ci.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

latest sdk
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

latest version
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Latest Azure ML SDK in the Docker image (#235)
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

use CLI, serverTask, yaml based ML pipeline and Azure pipeline for CI
  .azureml/diabetes_regression.runconfig
  .azureml/docker
  .azureml/local
  .azureml/train_dependencies.yml
  .pipelines/diabetes_regression-ci-yml-pipeline.yml
  .pipelines/ml_training_pipeline.yml
  dataset.json
  source/register/eval_register.py
  source/training/train.py
  source/util/__init__.py
  source/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml

fix the path issues
  .pipelines/ml_training_pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

change the source code triggers
  .pipelines/diabetes_regression-ci-yml-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

registration param comes from tag file, doesn't fail if not found
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/parameters.json
  diabetes_regression/register/register_model.py
  diabetes_regression/training/train_aml.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fix print statements
  diabetes_regression/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Model registration tags come from parameters.json (#237)
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/parameters.json
  diabetes_regression/register/register_model.py
  diabetes_regression/training/train_aml.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

update doc with aks auth details
  docs/getting_started.md
Due: none

add tags to aml sdk
  environment_setup/docker-image-pipeline.yml
Due: none

tag image with github release Id
  environment_setup/docker-image-pipeline.yml
Due: none

update doc with new image tag info
  docs/custom_container.md
Due: none

test image tags
  environment_setup/docker-image-pipeline.yml
Due: none

updated doc to point smoke test
  docs/getting_started.md
Due: none

test tags
  environment_setup/docker-image-pipeline.yml
Due: none

add tags
  environment_setup/docker-image-pipeline.yml
Due: none

format image tags
  environment_setup/docker-image-pipeline.yml
Due: none

format tags
  environment_setup/docker-image-pipeline.yml
Due: none

include all tags for the image
  environment_setup/docker-image-pipeline.yml
Due: none

add all tags
  environment_setup/docker-image-pipeline.yml
Due: none

set allow reuse to true
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update create_scoring_image.py
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

update doc with aks auth details (#239)
  docs/getting_started.md
Due: none

changed tag format
  docs/custom_container.md
  environment_setup/docker-image-pipeline.yml
Due: none

updated doc and image tags
  docs/custom_container.md
  environment_setup/docker-image-pipeline.yml
Due: none

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml
