Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-yml-pipeline.yml: any of: diabetes_regression

Sudivate dockertag (#240)
  docs/custom_container.md
  environment_setup/docker-image-pipeline.yml
Due: none

set allow reuse to true (#242)
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Moving code integration guide into this repo
  README.md
  bootstrap/README.md
  docs/code_description.md
  docs/custom_model.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

dtzar feedback
  README.md
  bootstrap/README.md
  docs/custom_model.md
Due: .pipelines/azdo-ci-build-train.yml

add recommendation
  docs/custom_model.md
Due: none

Moving code integration guide into this repo (#243)
  README.md
  bootstrap/README.md
  docs/code_description.md
  docs/custom_model.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

Create main.yml
  .github/workflows/main.yml
Due: .pipelines/azdo-ci-build-train.yml

merge
  ml_service/pipelines/run_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Update and rename main.yml to ci.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
Due: .pipelines/azdo-ci-build-train.yml

flake8
  .github/workflows/ci.yml
Due: .pipelines/azdo-ci-build-train.yml

comments
  .github/workflows/ci.yml
Due: .pipelines/azdo-ci-build-train.yml

clearer explanation of the pipeline stages in the getting started guide
  docs/getting_started.md
Due: none

clearer explanation of the pipeline stages in the getting started guide (#247)
  docs/getting_started.md
Due: none

making changes to notebook based on changes to tutorial document
  experimentation/Diabetes Ridge Regression Training.ipynb
Due: .pipelines/azdo-ci-build-train.yml

test update to assert_almost_equal
  diabetes_regression/training/test_train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

reference repo details in byoc guide
  bootstrap/README.md
  docs/custom_model.md
Due: .pipelines/azdo-ci-build-train.yml

Making changes to experiment notebook based on changes to tutorial document (#249)
  bootstrap/README.md
  diabetes_regression/training/test_train.py
  docs/custom_model.md
  experimentation/Diabetes Ridge Regression Training.ipynb
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

Manual style fix pass
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

Bootstrap script: enforce letters and underscores only
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

Improve error handling and argument validation
  bootstrap/bootstrap.py
Due: .pipelines/azdo-ci-build-train.yml

Avoid sklearn import error after bootstrap script runs
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update bootstrap README with standardized args
  bootstrap/README.md
Due: .pipelines/azdo-ci-build-train.yml

Linting fixes
  bootstrap/bootstrap.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Factor out diabetes CSV creation
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/load_sample_data.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Bootstrap fixes (#250)
  bootstrap/README.md
  bootstrap/bootstrap.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/load_sample_data.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

remove file_name parameter because it's not used in function
  ml_service/pipelines/load_sample_data.py
Due: .pipelines/azdo-ci-build-train.yml

fixed function not requiring param
  ml_service/pipelines/load_sample_data.py
Due: .pipelines/azdo-ci-build-train.yml

error 62
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

remove file_name parameter because it's not used in function (#252)
  ml_service/pipelines/load_sample_data.py
Due: .pipelines/azdo-ci-build-train.yml

update image to package
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

Update conda_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

updated package property
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

Update Image creation to use new package (#260)
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

Fix training/scoring conda deps
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

Fix training/scoring conda deps (#262)
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

Lock versions to point updates
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

Update CI conda deps to match training/scoring SDK (#263)
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

Fix docker pipeline by removing trailing whitespace
  environment_setup/docker-image-pipeline.yml
Due: none

Fix docker pipeline by removing trailing whitespace (#264)
  environment_setup/docker-image-pipeline.yml
Due: none
