Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

.pipelines/azdo-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

.pipelines/azdo-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mcr.microsoft.com/mlops/python:latest
  name: $(Date:yyyyMMdd)$(Rev:r)
  steps:
  - bash: "# Invoke the Python building and publishing a training pipeline with Python on ML Compute\npython3 $(Build.SourcesDirectory)/ml_service/util/create_scoring_image.py   \n"
  ...

extending use of SOURCES_DIR_TRAIN variable
  .pipelines/azdo-ci-build-train.yml
  code/evaluate/evaluate_model.py
  ml_service/pipelines/verify_train_pipeline.py
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

readding reference
  code/evaluate/evaluate_model.py
  ml_service/pipelines/verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Added notebooks for training and scoring a Ridge regression model with the Diabetes dataset
  experimentation/Diabetes Ridge Regression Scoring.ipynb
  experimentation/Diabetes Ridge Regression Training.ipynb
Due: .pipelines/azdo-ci-build-train.yml

extending use of SOURCES_DIR_TRAIN variable (#143)
  .pipelines/azdo-ci-build-train.yml
  code/evaluate/evaluate_model.py
  ml_service/pipelines/verify_train_pipeline.py
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Fixed joblib import and remove request headers
  experimentation/Diabetes Ridge Regression Scoring.ipynb
  experimentation/Diabetes Ridge Regression Training.ipynb
Due: .pipelines/azdo-ci-build-train.yml

Added notebooks for training and scoring a Diabetes Ridge regression model (#145)
  experimentation/Diabetes Ridge Regression Scoring.ipynb
  experimentation/Diabetes Ridge Regression Training.ipynb
Due: .pipelines/azdo-ci-build-train.yml

fix sources_directory_train variable name
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

fix sources_directory_train variable name (#146)
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

change folder structure
  .env.example
  .pipelines/azdo-variables.yml
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-ci-image.yml
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/register/register_model.py
  diabetes_regression/scoring/conda_dependencies.yml
  diabetes_regression/scoring/deployment_config_aci.yml
  diabetes_regression/scoring/deployment_config_aks.yml
  diabetes_regression/scoring/inference_config.yml
  diabetes_regression/scoring/score.py
  diabetes_regression/scoring/scoreA.py
  diabetes_regression/scoring/scoreB.py
  diabetes_regression/training/R/r_train.r
  diabetes_regression/training/R/train_with_r.py
  diabetes_regression/training/R/train_with_r_on_databricks.py
  diabetes_regression/training/R/weight_data.csv
  diabetes_regression/training/train.py
  diabetes_regression/util/model_helper.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  ml_service/pipelines/verify_train_pipeline.py
  ml_service/util/create_scoring_image.py
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

rename variables file
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-variables.yml
Due: .pipelines/azdo-ci-build-train.yml

fix linting
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml

documentation fix
  docs/code_description.md
  docs/getting_started.md
Due: none

return model name due to a bug in scoring
  .env.example
  .pipelines/diabetes_regression-variables.yml
Due: .pipelines/azdo-ci-build-train.yml

make PR build working
  .pipelines/azdo-pr-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

.
  code/scoring/conda_dependencies.yml
  code/scoring/score.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

.
  .gitignore
  .pipelines/azdo-base-pipeline.yml
  .pipelines/azdo-ci-build-train.yml
  .pipelines/azdo-pr-build-train.yml
  .pipelines/azdo-template-get-model-version.yml
  README.md
  code/scoring/score.py
  code/training/R/train_with_r_on_databricks.py
  docs/development_setup.md
  docs/getting_started.md
  environment_setup/install_requirements.sh
  ml_service/util/smoke_test_scoring_service.py
  tests/unit/code_test.py
  tests/unit/data_test.py
  tox.ini
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

.
  environment_setup/Dockerfile
Due: none

Update score.py
  code/scoring/score.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Update requirements.txt
  environment_setup/requirements.txt
Due: none

Change folder structure to support several training pipelines and models (#147)
  .env.example
  .pipelines/azdo-pr-build-train.yml
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-variables.yml
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/register/register_model.py
  diabetes_regression/scoring/conda_dependencies.yml
  diabetes_regression/scoring/deployment_config_aci.yml
  diabetes_regression/scoring/deployment_config_aks.yml
  diabetes_regression/scoring/inference_config.yml
  diabetes_regression/scoring/score.py
  diabetes_regression/scoring/scoreA.py
  diabetes_regression/scoring/scoreB.py
  diabetes_regression/training/R/r_train.r
  diabetes_regression/training/R/train_with_r.py
  diabetes_regression/training/R/train_with_r_on_databricks.py
  diabetes_regression/training/R/weight_data.csv
  diabetes_regression/training/train.py
  diabetes_regression/util/model_helper.py
  docs/code_description.md
  docs/getting_started.md
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  ml_service/pipelines/verify_train_pipeline.py
  ml_service/util/create_scoring_image.py
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Update azdo-ci-build-train.yml
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

added toggle for evaluation step
  .env.example
  diabetes_regression/evaluate/evaluate_model.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

added param to varriables list
  .pipelines/diabetes_regression-variables.yml
Due: .pipelines/azdo-ci-build-train.yml

corrected to matrices
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml

resolved linting
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

removed duplicate
  .pipelines/diabetes_regression-variables.yml
Due: .pipelines/azdo-ci-build-train.yml

resolved linting
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

Discover scoring model + Add Swagger endpoint to scoring container (#149)
  diabetes_regression/scoring/conda_dependencies.yml
  diabetes_regression/scoring/score.py
Due: .pipelines/azdo-ci-build-train.yml

added overide switch to cancellation
  .pipelines/diabetes_regression-variables.yml
  diabetes_regression/evaluate/evaluate_model.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

added override cancellation flag
  .env.example
  diabetes_regression/evaluate/evaluate_model.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

reversed the condition on runevaluation flag
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

renamed variable
  .pipelines/diabetes_regression-variables.yml
Due: .pipelines/azdo-ci-build-train.yml

reversed he coonditon on override run
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml

renamed variable for test
  .pipelines/diabetes_regression-variables.yml
Due: .pipelines/azdo-ci-build-train.yml

Update proper build badge
  README.md
Due: .pipelines/azdo-ci-build-train.yml

added default value to env vars
  diabetes_regression/evaluate/evaluate_model.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

defined parameter
  diabetes_regression/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml

always run the evaluation step
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
