Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-yml-pipeline.yml: any of: diabetes_regression

Update SDK to 1.3.0
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

Update SDK to 1.3.0 (#266)
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

setup basic folder and file structure
  environment_setup/iac-create-environment-pipeline-arm.yml
  environment_setup/iac-create-environment-pipeline-tf.yaml
  environment_setup/tf-templates/main.tf
Due: none

add tf backend file and bash script to create state storage
  environment_setup/other-templates/create-state-storage.sh
  environment_setup/tf-templates/backend.tf
Due: none

basic pipeline for infrastructure with tf - yaml, tf, bash
  environment_setup/iac-create-environment-pipeline-tf.yaml
  environment_setup/other-templates/create-state-storage.sh
  environment_setup/tf-templates/main.tf
Due: none

naming and deleting unnecessary bash script
  environment_setup/iac-create-environment-pipeline-tf.yml
  environment_setup/other-templates/create-state-storage.sh
  environment_setup/tf-templates/main.tf
Due: none

updated documentation
  docs/code_description.md
Due: none

added to the get_started.md guide
  docs/getting_started.md
Due: none

added terraform plan step
  environment_setup/iac-create-environment-pipeline-tf.yml
Due: none

Add Terraform option to environment_setup (#268)
  docs/code_description.md
  docs/getting_started.md
  environment_setup/iac-create-environment-pipeline-arm.yml
  environment_setup/iac-create-environment-pipeline-tf.yml
  environment_setup/tf-templates/backend.tf
  environment_setup/tf-templates/main.tf
Due: none

split pipeline
  .pipelines/diabetes_regression-ci-cd.yml
  .pipelines/diabetes_regression-deploy.yml
  .pipelines/diabetes_regression-package-model-template.yml
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
  .pipelines/diabetes_regression-train.yml
Due: .pipelines/azdo-ci-build-train.yml

new split pipelines
  .pipelines/diabetes_regression-deploy.yml
  .pipelines/diabetes_regression-get-model-id-template.yml
  .pipelines/diabetes_regression-package-model-template.yml
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
  .pipelines/diabetes_regression-train-register.yml
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

specify channel
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

fix pip jq install
  diabetes_regression/ci_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

Replaced Env class with dataclass
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

Replaced Env class with dataclass (#277)
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

fixes and cleanup
  .pipelines/diabetes_regression-deploy.yml
  .pipelines/diabetes_regression-get-model-id-artifact-template.yml
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
  .pipelines/diabetes_regression-train-register.yml
Due: .pipelines/azdo-ci-build-train.yml

add new lines
  .pipelines/diabetes_regression-deploy.yml
  .pipelines/diabetes_regression-get-model-id-artifact-template.yml
  .pipelines/diabetes_regression-package-model-template.yml
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
  .pipelines/diabetes_regression-train-register.yml
Due: .pipelines/azdo-ci-build-train.yml

add docs and clean up naming
  .pipelines/diabetes_regression-deploy.yml
  .pipelines/diabetes_regression-get-model-id-artifact-template.yml
  .pipelines/diabetes_regression-package-model-template.yml
  .pipelines/diabetes_regression-publish-model-artifact-template.yml
  .pipelines/diabetes_regression-train-register.yml
  docs/images/model-deploy-configure.png
  docs/images/model-deploy-result.png
  docs/images/model-train-register-artifacts.png
  docs/images/model-train-register.png
  docs/split_cicd_pipelines.md
Due: .pipelines/azdo-ci-build-train.yml

use shared image
  .pipelines/diabetes_regression-deploy.yml
  .pipelines/diabetes_regression-train-register.yml
Due: .pipelines/azdo-ci-build-train.yml

rename
  .pipelines/diabetes_regression-cd-deploy.yml
  .pipelines/diabetes_regression-ci-train-register.yml
  docs/split_cicd_pipelines.md
Due: .pipelines/azdo-ci-build-train.yml

update azureml sdk
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

update azureml sdk (#287)
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

model package template
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

fix working directory
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

change param name
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

convert image to use the template
  .pipelines/diabetes_regression-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

Score copy step added
  .env.example
  .pipelines/diabetes_regression-batchscoring-ci.yml
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/scoring/parallel_batchscore_copyoutput.py
  ml_service/pipelines/diabetes_regression_build_parallel_batchscore_pipeline.py
  ml_service/util/attach_compute.py
  ml_service/util/env_variables.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml, .pipelines/diabetes_regression-ci-yml-pipeline.yml

strip quotes from location
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

fix env var
  .pipelines/diabetes_regression-deploy.yml
Due: .pipelines/azdo-ci-build-train.yml

remove succeeded condition
  .pipelines/diabetes_regression-deploy.yml
Due: .pipelines/azdo-ci-build-train.yml

remove extra deploy yml
  .pipelines/diabetes_regression-cd-deploy.yml
  .pipelines/diabetes_regression-deploy.yml
Due: .pipelines/azdo-ci-build-train.yml

no pr trigger
  .pipelines/diabetes_regression-cd-deploy.yml
Due: .pipelines/azdo-ci-build-train.yml

Modified bootstrap.py, updated getting started doc
  .env.example
  bootstrap/bootstrap.py
  docs/getting_started.md
  docs/images/batchscoring-ci-result.png
  docs/images/batchscoring-pipeline.png
Due: .pipelines/azdo-ci-build-train.yml

fix package template
  .pipelines/abtest.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

remove old env var and fix ab test
  .pipelines/abtest.yml
  .pipelines/diabetes_regression-package-model-template.yml
  .pipelines/diabetes_regression-variables-template.yml
  ml_service/util/create_scoring_image.py
  ml_service/util/create_scoring_image.sh
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-image.yml

fix indentation
  .pipelines/abtest.yml
Due: .pipelines/azdo-ci-build-train.yml

fix syntax
  .pipelines/abtest.yml
Due: .pipelines/azdo-ci-build-train.yml

switch to -v flag
  .pipelines/abtest.yml
  .pipelines/diabetes_regression-package-model-template.yml
Due: .pipelines/azdo-ci-build-train.yml

fix path to scoring script
  .pipelines/abtest.yml
Due: .pipelines/azdo-ci-build-train.yml
