Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml

imgname
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

start
  .pipelines/azdo-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

Score B
  .pipelines/azdo-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

ScoreB
  .pipelines/azdo-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

load test script
  charts/load_test.sh
  docs/canary_ab_deployment.md
Due: none

yml refactor
  .pipelines/azdo-helm-install.yml
  .pipelines/azdo-helm-upgrade.yml
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

typo
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

typo
  .pipelines/azdo-helm-upgrade.yml
Due: .pipelines/azdo-ci-build-train.yml

typo
  .pipelines/azdo-helm-install.yml
Due: .pipelines/azdo-ci-build-train.yml

wrong path
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

scoreA
  .pipelines/azdo-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

docs update
  .pipelines/azdo-ci-image.yml
  .pipelines/azdo-release-abtest-pipeline.yml
  docs/canary_ab_deployment.md
  docs/images/canary-deployment-trigger.png
  docs/images/scoring_image.png
Due: .pipelines/azdo-ci-build-train.yml

merge with master
  code/scoring/conda_dependencies.yml
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

test
  .pipelines/azdo-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

merging with master
  .pipelines/azdo-ci-image.yml
  ml_service/util/create_scoring_image.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

multistage
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

tab
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

test
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

container
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

test
  .pipelines/azdo-helm-install.yml
  .pipelines/azdo-release-abtest-pipeline.yml
  charts/abtest-model/templates/deployment.yaml
Due: .pipelines/azdo-ci-build-train.yml

test
  .pipelines/azdo-helm-install.yml
Due: .pipelines/azdo-ci-build-train.yml

test
  .pipelines/azdo-helm-install.yml
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

test
  .pipelines/azdo-release-abtest-pipeline.yml
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

cleaning
  .pipelines/azdo-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

doc update
  .pipelines/azdo-abtest-pipeline.yml
  docs/canary_ab_deployment.md
  docs/images/canary-deployment-trigger.png
Due: .pipelines/azdo-ci-build-train.yml

cleaning
  .pipelines/azdo-variables.yml
  code/scoring/deployment_config_aks.yml
  vss-extension.json
Due: .pipelines/azdo-ci-build-train.yml

linting
  code/scoring/scoreA.py
  code/scoring/scoreB.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Link to A/B tutorial
  docs/getting_started.md
Due: none

helm to 3.0.1
  .pipelines/azdo-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

Update canary_ab_deployment.md
  docs/canary_ab_deployment.md
Due: none
