Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml

.pipelines/azdo-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

.pipelines/azdo-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mcr.microsoft.com/mlops/python:latest
  name: $(Date:yyyyMMdd)$(Rev:r)
  steps:
  - bash: "# Invoke the Python building and publishing a training pipeline with Python on ML Compute\npython3 $(Build.SourcesDirectory)/ml_service/util/create_scoring_image.py   \n"
  ...

.pipelines/diabetes_regression-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

Clarify that web app must exist for the deploy to work (#201)
  docs/getting_started.md
Due: none

Use correct parameter names in web app deploy (#202)
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Update diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Update getting_started.md
  docs/getting_started.md
Due: none

Remove 60 minute job timeout #203
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

.
  .pipelines/azdo-abtest-pipeline.yml
  .pipelines/azdo-pr-build-train.yml
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

fix hard coded subscription reference
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

fix hard coded subscription reference (#205)
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

.
  .pipelines/diabetes_regression-ci-build-train.yml
  docs/custom_container.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

Update custom_container.md
  docs/custom_container.md
Due: none

Enable deploy of model registered by previous build
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-template-get-model-version.yml
  .pipelines/diabetes_regression-variables.yml
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

fix conditions
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

PR isn't updating?
  README.md
Due: .pipelines/azdo-ci-build-train.yml

Enable deploy of model registered by previous build (#207)
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-template-get-model-version.yml
  .pipelines/diabetes_regression-variables.yml
  README.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

adding comments for variables
  .env.example
  .pipelines/azdo-abtest-pipeline.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-variables.yml
  docs/canary_ab_deployment.md
  ml_service/util/create_scoring_image.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

fixing pipeline condition
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

fixing pipeline condition (#209)
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

PR comments
  docs/custom_container.md
Due: none

PR fixes
  bootstrap/README.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

Update README.md
  bootstrap/README.md
Due: .pipelines/azdo-ci-build-train.yml

Configuration for environment customization (#206)
  .pipelines/azdo-abtest-pipeline.yml
  .pipelines/azdo-pr-build-train.yml
  .pipelines/diabetes_regression-ci-build-train.yml
  .pipelines/diabetes_regression-ci-image.yml
  bootstrap/README.md
  docs/custom_container.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

update default model name
  .pipelines/diabetes_regression-variables.yml
Due: .pipelines/azdo-ci-build-train.yml

Pipeline variables comments and clean up (#211)
  .env.example
  .pipelines/azdo-abtest-pipeline.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-variables.yml
  docs/canary_ab_deployment.md
  ml_service/util/create_scoring_image.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Rename pipeline and pipeline template YAMLs to new convention
  .pipelines/abtest.yml
  .pipelines/code-quality-template.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-get-model-version-template.yml
  .pipelines/diabetes_regression-variables-template.yml
  .pipelines/helm-install-template.yml
  .pipelines/helm-upgrade-template.yml
  .pipelines/pr.yml
  environment_setup/iac-create-environment-pipeline.yml
  environment_setup/iac-remove-environment-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

Rename references to pipelines and pipeline templates
  .pipelines/abtest.yml
  .pipelines/diabetes_regression-ci.yml
  .pipelines/helm-upgrade-template.yml
  .pipelines/pr.yml
  bootstrap/bootstrap.py
  docs/canary_ab_deployment.md
  docs/code_description.md
  docs/custom_container.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

Sort pipeline entries in code_description.md
  docs/code_description.md
Due: none

initial pass
  .pipelines/diabetes_regression-ci-build-train.yml
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/register/register_model.py
  diabetes_regression/training/train.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fix parameter name
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

remove from local trigger
  diabetes_regression/register/register_model.py
  ml_service/pipelines/run_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
