Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py

cannot move to util due to unit tests
  diabetes_regression/training/train.py
  diabetes_regression/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

documentation
  docs/getting_started.md
Due: none

more doc
  docs/getting_started.md
Due: none

hm. it's executing from diabetes_regression root.
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

remove alpha from pipeline parameters (#169)
  .pipelines/diabetes_regression-ci-build-train.yml
  diabetes_regression/config.json
  diabetes_regression/training/train.py
  docs/getting_started.md
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Simplified environment management, restored deploy task
  .pipelines/diabetes_regression-ci-build-train.yml
  diabetes_regression/azureml_environment.json
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
  diabetes_regression/scoring/deployment_config_aci.yml
  diabetes_regression/scoring/deployment_config_aks.yml
  diabetes_regression/scoring/inference_config.yml
  diabetes_regression/training_dependencies.yml
  docs/code_description.md
  ml_service/pipelines/deploy_web_service.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Simplified environment management, restored deploy task
  .pipelines/diabetes_regression-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

fixed image creation on ACI
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

importing directly from jolib
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

added joblib to training dependencies
  diabetes_regression/training_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Fixed doc for new file path
  docs/getting_started.md
Due: none

Added comments
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

corrected path fpr scoring file
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

updated path
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

syntax
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

Update train_with_r.py
  diabetes_regression/training/R/train_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update train.py
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Update train.py (#174)
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Fail on R error (#173)
  diabetes_regression/training/R/train_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Manage AML environments from conda YAML files (#168)
  diabetes_regression/azureml_environment.json
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
  diabetes_regression/scoring/deployment_config_aci.yml
  diabetes_regression/scoring/inference_config.yml
  diabetes_regression/scoring_dependencies.yml
  diabetes_regression/training_dependencies.yml
  docs/code_description.md
  docs/getting_started.md
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

updated core package version
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

temp-updated docker file
  environment_setup/Dockerfile
Due: none

force python installtion from conda
  environment_setup/Dockerfile
Due: none

typos
  README.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

typo
  =3.7
  docs/getting_started.md
  environment_setup/Dockerfile
  environment_setup/requirements.txt
Due: .pipelines/azdo-ci-build-train.yml

revert
  environment_setup/Dockerfile
Due: none

garbage
  =3.7
Due: .pipelines/azdo-ci-build-train.yml

fixed link to point to create not remove yml file
  docs/getting_started.md
Due: none

updating conda
  environment_setup/Dockerfile
Due: none

updated the docker file
  environment_setup/Dockerfile
Due: none

downgraded python
  diabetes_regression/ci_dependencies.yml
  diabetes_regression/conda_dependencies.yml
  environment_setup/Dockerfile
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fixed link to point to create not remove yml file (#176)
  docs/getting_started.md
Due: none

downgrade python
  environment_setup/Dockerfile
Due: none

acivate conda in pipeline
  lint-and-test.sh
Due: .pipelines/azdo-ci-build-train.yml

activate conda
  lint-and-test.sh
Due: .pipelines/azdo-ci-build-train.yml
