Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
  .pipelines/diabetes_regression-ci-build-train.yml: any of: diabetes_regression, ml_service/pipelines/diabetes_regression_build_train_pipeline.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py, ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r_on_dbricks.py
  .pipelines/diabetes_regression-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, diabetes_regression/scoring, but not: diabetes_regression/scoring/deployment_config_aci.yml, diabetes_regression/scoring/deployment_config_aks.yml

Rename pipeline YAMLs for clarity (#212)
  .pipelines/abtest.yml
  .pipelines/code-quality-template.yml
  .pipelines/diabetes_regression-ci-image.yml
  .pipelines/diabetes_regression-ci.yml
  .pipelines/diabetes_regression-get-model-version-template.yml
  .pipelines/diabetes_regression-variables-template.yml
  .pipelines/helm-install-template.yml
  .pipelines/helm-upgrade-template.yml
  .pipelines/pr.yml
  bootstrap/bootstrap.py
  docs/canary_ab_deployment.md
  docs/code_description.md
  docs/custom_container.md
  docs/getting_started.md
  environment_setup/iac-create-environment-pipeline.yml
  environment_setup/iac-remove-environment-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

import env helper
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fix import
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

pipeline variables for aml env
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
Due: .pipelines/azdo-ci-build-train.yml

changed env name
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

remove aml env
  diabetes_regression/scoring/inference_config.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml

adding env var for build id
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

change aml env name
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

testing env
  ml_service/util/manage_environment copy.py
Due: .pipelines/azdo-ci-build-train.yml

test env
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

delete unused
  ml_service/util/manage_environment copy.py
Due: .pipelines/azdo-ci-build-train.yml

print env
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fixed name
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

adding env to runconfig
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

linting fix
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

aml env name change
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

fixed aml env type
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml

corrected env name
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

dataset version
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/training/train.py
  diabetes_regression/util/dataset_helper.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/env_variables.py
  ml_service/util/smoke_test_scoring_service.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

caller run id
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

caller run id
  diabetes_regression/training/train.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

bug fix
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

dataset version
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/register/register_model.py
  diabetes_regression/training/train.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Linting
  diabetes_regression/register/register_model.py
  diabetes_regression/training/test_train.py
  diabetes_regression/training/train.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/util/env_variables.py
  ml_service/util/smoke_test_scoring_service.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

linting
  diabetes_regression/training/test_train.py
  diabetes_regression/training/train.py
  ml_service/util/smoke_test_scoring_service.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

bugfix
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

linting
  diabetes_regression/training/train.py
  diabetes_regression/util/dataset_helper.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

linting
  diabetes_regression/training/train.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

removed extra underscore
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  diabetes_regression/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Sudivate/environment (#217)
  .env.example
  .pipelines/diabetes_regression-variables-template.yml
  bootstrap/bootstrap.py
  diabetes_regression/azureml_environment.json
  diabetes_regression/conda_dependencies.yml
  diabetes_regression/scoring/inference_config.yml
  docs/code_description.md
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/util/env_variables.py
  ml_service/util/manage_environment.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml, .pipelines/diabetes_regression-ci-image.yml

add build uri when running without agentless task, add message if buildid not found in tags
  .pipelines/diabetes_regression-ci.yml
  diabetes_regression/register/register_model.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Linting
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Remove BuildId parameter (#214)
  .pipelines/diabetes_regression-ci.yml
  diabetes_regression/evaluate/evaluate_model.py
  diabetes_regression/register/register_model.py
  diabetes_regression/training/train.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline.py
  ml_service/pipelines/diabetes_regression_build_train_pipeline_with_r.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/diabetes_regression-ci-build-train.yml

Add ToC
  docs/getting_started.md
Due: none

Feedback fixes and factored out BYO Dataset to Bootstrap README
  bootstrap/README.md
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml

Update ARM service connection screenshot. Fixes #215
  docs/images/create-rm-service-connection.png
Due: none

More word wrap fixes and grammar fixes
  docs/getting_started.md
Due: none

Feedback fixes
  docs/getting_started.md
Due: none

Added var table descriptions and factored out ARM var description to its own section
  docs/getting_started.md
Due: none
