Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

.pipelines/azdo-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

.pipelines/azdo-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mcr.microsoft.com/mlops/python:latest
  name: $(Date:yyyyMMdd)$(Rev:r)
  steps:
  - bash: "# Invoke the Python building and publishing a training pipeline with Python on ML Compute\npython3 $(Build.SourcesDirectory)/ml_service/util/create_scoring_image.py   \n"
  ...

Add build badge
  docs/canary_ab_deployment.md
Due: none

Comments
  .pipelines/azdo-abtest-pipeline.yml
  charts/abtest-model/values.yaml
  docs/canary_ab_deployment.md
Due: .pipelines/azdo-ci-build-train.yml

update
  .pipelines/azdo-abtest-pipeline.yml
  docs/canary_ab_deployment.md
Due: .pipelines/azdo-ci-build-train.yml

update
  docs/canary_ab_deployment.md
Due: none

fix typo
  docs/canary_ab_deployment.md
Due: none

typo
  docs/canary_ab_deployment.md
Due: none

Link to the approvals
  docs/canary_ab_deployment.md
Due: none

Canary deployment (#125)
  .pipelines/azdo-abtest-pipeline.yml
  .pipelines/azdo-ci-image.yml
  .pipelines/azdo-helm-install.yml
  .pipelines/azdo-helm-upgrade.yml
  .pipelines/azdo-variables.yml
  charts/abtest-istio/Chart.yaml
  charts/abtest-istio/templates/istio-canary.yaml
  charts/abtest-istio/values.yaml
  charts/abtest-model/Chart.yaml
  charts/abtest-model/templates/deployment.yaml
  charts/abtest-model/templates/service.yaml
  charts/abtest-model/values.yaml
  charts/load_test.sh
  code/scoring/scoreA.py
  code/scoring/scoreB.py
  docs/canary_ab_deployment.md
  docs/getting_started.md
  docs/images/scoring_image.png
  ml_service/util/create_scoring_image.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Take the latest model for the scoring image
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

revert back
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

test alpha
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Correct package version
  code/scoring/conda_dependencies.yml
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

revert alpha
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

doc updatye
  docs/getting_started.md
Due: none

Deploy to ACI error fix (#126)
  code/scoring/conda_dependencies.yml
  docs/getting_started.md
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Making clarifications in Getting Started guide
  docs/getting_started.md
Due: none

Making clarifications in Getting Started guide (#131)
  docs/getting_started.md
Due: none

tag the experiment and model with a link to the build ui
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  code/training/train.py
  ml_service/pipelines/build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

also adding BuildUri tag to the parent run
  code/training/train.py
Due: .pipelines/azdo-ci-build-train.yml

Tag the experiment runs and model with a link to the build ui (#132)
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  code/training/train.py
  ml_service/pipelines/build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

Fixed assignment bug for build_uri
  code/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml

Fixed assignment bug for build_uri (#133)
  code/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml

Data from managed datastore
  .env.example
  .pipelines/azdo-variables.yml
  code/register/register_model.py
  code/training/train.py
  docs/getting_started.md
  ml_service/pipelines/build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

merge with unassigned variable fix
  code/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml

bugfix
  code/training/train.py
  ml_service/pipelines/build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

typo
  docs/getting_started.md
Due: none

linting
  code/training/train.py
  ml_service/pipelines/build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

linting
  code/training/train.py
  ml_service/pipelines/build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

linting
  ml_service/pipelines/build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

added a link to az cli
  docs/getting_started.md
Due: none

doc update
  docs/getting_started.md
Due: none

reregistering a dataset
  ml_service/pipelines/build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

rephrasing
  docs/getting_started.md
Due: none

auth enabled
  code/scoring/deployment_config_aci.yml
Due: .pipelines/azdo-ci-build-train.yml

revert auth enabled
  code/scoring/deployment_config_aci.yml
Due: .pipelines/azdo-ci-build-train.yml

Use training data from a managed datasource (#134)
  .env.example
  .pipelines/azdo-variables.yml
  code/training/train.py
  docs/getting_started.md
  ml_service/pipelines/build_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

Generate a Docker container within the CI build
  .gitignore
  .pipelines/azdo-base-pipeline.yml
  .pipelines/azdo-ci-build-train.yml
  .pipelines/azdo-pr-build-train.yml
  .pipelines/azdo-template-get-model-version.yml
  .pipelines/azdo-variables.yml
  README.md
  code/scoring/score.py
  code/training/R/train_with_r_on_databricks.py
  docs/code_description.md
  docs/development_setup.md
  docs/getting_started.md
  docs/images/create-acr-service-connection.png
  environment_setup/build-image/Dockerfile
  environment_setup/build-image/requirements.txt
  environment_setup/install_requirements.sh
  environment_setup/mlops-image/Dockerfile
  environment_setup/mlops-image/docker-image-pipeline.yml
  environment_setup/mlops-image/requirements.txt
  ml_service/util/smoke_test_scoring_service.py
  tests/unit/code_test.py
  tests/unit/data_test.py
  tox.ini
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
